/* .weather_condition {
  display: flex;
  flex-direction: row;
}

.weather_condition_img.weather_condition_temperature {
  flex-direction: column;
}

.weather-condition_condition {
  flex-direction: row;
} */
